# Environment & App Settings files
.env
.env.local
.env.*.local
.env.development
.env.production
!.env.example

**/appsettings.json
**/appsettings.*.json
!**/appsettings.example.json
!**/appsettings.*.example.json

# Excluded Projects (Tests & Testers)
InsightFlow.Nl2Sql.Tests/
Nl2SqlPackageTester/

# Build & Output Directories
**/bin/
**/obj/
**/node_modules/
**/.angular/
**/dist/
*.user
app_store.db

# IDE & OS Files
.idea/
.vscode/
.vs/
.DS_Store
*.suo
*.userossc
